___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [2]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [3]:
sal = pd.read_csv(r'C:\\Users\\heyanand\Downloads\\Salaries.csv')

** Check the head of the DataFrame. **

In [4]:
sal.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

** Use the .info() method to find out how many entries there are.**

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [6]:
sal['BasePay'].mean()

np.float64(66325.4488404877)

** What is the highest amount of OvertimePay in the dataset ? **

In [7]:
sal['OvertimePay'].max()

np.float64(245131.88)

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [8]:
sal.loc[sal['EmployeeName']=='JOSEPH DRISCOLL','JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [9]:
sal.loc[sal['EmployeeName']=='JOSEPH DRISCOLL','TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [11]:
sal.loc[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max(),['EmployeeName','TotalPayBenefits']]

     EmployeeName  TotalPayBenefits
0  NATHANIEL FORD         567595.43

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [18]:
a=sal.loc[sal['TotalPayBenefits']>0,'TotalPayBenefits'].min()
sal.loc[sal['TotalPayBenefits']==a,['EmployeeName','TotalPayBenefits']]

       EmployeeName  TotalPayBenefits
36155  JOE BROWN JR               0.3

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [35]:
for x in sal['Year'].unique():
    avg_basepay = sal.loc[sal['Year']==x,'BasePay'].mean()
    print(f'Year {x} Avg BasePay {avg_basepay}')

sal.groupby('Year')['BasePay'].mean()

Year 2011 Avg BasePay 63595.95651677314
Year 2012 Avg BasePay 65436.40685742263
Year 2013 Avg BasePay 69630.03021648065
Year 2014 Avg BasePay 66564.42192449959

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [27]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [28]:
sal['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [58]:
#job_count_2013 = sal[sal['Year']=='2013']['JobTitle'].value_counts()==1
#job_count_2013

jc_2013=sal.loc[sal['Year']==2013,'JobTitle'].value_counts()
print(jc_2013.loc[jc_2013==1])

#print (jc_2013.index)

JobTitle
City Attorney                    1
PrDAInvest,SpecUnit (SFERS)      1
Mgr Museum Security Services     1
Sctry, Human Svcs. Commission    1
IS Operator-Analyst              1
                                ..
Head Photographer                1
Chief of Police                  1
Animal Control Supervisor        1
Special Assistant 14             1
Senior Assessment Clerk          1
Name: count, Length: 202, dtype: int64

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [61]:
sal.loc[sal['JobTitle'].str.contains('Chief'),'EmployeeName'].nunique()

313

In [65]:
def contain (value):
    if 'chief' in value.lower():
        return 1
    else:
        return 0
    
sal['is_chief']=sal['JobTitle'].apply(lambda x: contain(x))
sal.loc[sal['is_chief']==1,['JobTitle','is_chief']]

                                            JobTitle  is_chief
4       DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         1
5                          ASSISTANT DEPUTY CHIEF II         1
6                 BATTALION CHIEF, (FIRE DEPARTMENT)         1
8                 BATTALION CHIEF, (FIRE DEPARTMENT)         1
9             CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         1
...                                              ...       ...
138011                Chief Deputy Adlt Probation Of         1
139620                                   Chief Clerk         1
139709                      Chief Nursery Specialist         1
140080                              Chief Preparator         1
140156                     Chief Stationary Engineer         1

[627 rows x 2 columns]

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

# Great Job!