## Pandas Series
A Pandas Series is a one-dimensional labeled array capable of holding any data type (integers, floats, strings, objects, etc.). It is similar to a column in an Excel sheet or a dictionary where each value has an index.

In [1]:
#Creating a Series
import pandas as pd
data = [10,20,30,40,50]
s = pd.Series(data)
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
#Custom Indexing
#You can assign custom indexes instead of the default numerical ones.
s = pd.Series([10,20,30,40,50], index = ['a','b','c','d','e'])
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [8]:
#Accessing Elements
print(s[0])
print(s['a'])
print(s.iloc[0])
print(s.loc['a'])

10
10
10
10

C:\Users\anand\AppData\Local\Temp\ipykernel_7956\3898726188.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [9]:
#create from a dictionary
data = {'a': 100, 'b': 200, 'c': 300}
s = pd.Series(data)
s

a    100
b    200
c    300
dtype: int64

In [10]:
#create from np array
import numpy as np
arr = np.array([1, 2, 3, 4])
s = pd.Series(arr)
print(s)

0    1
1    2
2    3
3    4
dtype: int64

In [11]:
#Create From a Scalar Value (Same Value for All Indexes)
s = pd.Series(5, index=['a', 'b', 'c', 'd'])
print(s)

a    5
b    5
c    5
d    5
dtype: int64

In [13]:
#series attributes:
s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])

print(s.index)     # Index labels
print(s.values)    # Values as NumPy array
print(s.dtype)     # Data type of elements
print(s.shape)     # Shape of the Series
print(s.size)      # Total number of elements
print(s.ndim)

Index(['a', 'b', 'c'], dtype='object')
[10 20 30]
int64
(3,)
3
1

In [14]:
#Arithmetic Operations
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])

print(s1 + s2)  # Element-wise addition
print(s1 - s2)  # Element-wise subtraction
print(s1 * s2)  # Element-wise multiplication
print(s1 / s2)  # Element-wise division

0    5
1    7
2    9
dtype: int64
0   -3
1   -3
2   -3
dtype: int64
0     4
1    10
2    18
dtype: int64
0    0.25
1    0.40
2    0.50
dtype: float64

In [15]:
# Using NumPy Functions
import numpy as np
s = pd.Series([1, 4, 9, 16])

print(np.sqrt(s))  # Square root
print(np.log(s))   # Logarithm
print(np.exp(s))   # Exponential

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64
0    0.000000
1    1.386294
2    2.197225
3    2.772589
dtype: float64
0    2.718282e+00
1    5.459815e+01
2    8.103084e+03
3    8.886111e+06
dtype: float64

In [ ]:
#Filtering and Conditional Selection
s = pd.Series([10, 20, 30, 40, 50])

print(s[s > 25])  # Filter values greater than 25
print(s[(s > 15) & (s < 45)].reset_index)  # Multiple conditions - reset index is not inplace
print(s)

2    30
3    40
4    50
dtype: int64
<bound method Series.reset_index of 1    20
2    30
3    40
dtype: int64>
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [19]:
# Handling Missing Values
# Detecting Missing Values

s = pd.Series([1, 2, None, 4, np.nan])

print(s.isnull())  # Checks for NaN values
print(s.notnull()) # Checks for non-NaN values

0    False
1    False
2     True
3    False
4     True
dtype: bool
0     True
1     True
2    False
3     True
4    False
dtype: bool

In [ ]:
print(s.fillna(0)) # Replace NaN with 0 but fillna is not inplace
print(s)

0    1.0
1    2.0
2    0.0
3    4.0
4    0.0
dtype: float64
0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [24]:
# dropping missing values
print(s.dropna())  # Removes NaN values

print(s)  # Removes NaN values

0    1.0
1    2.0
3    4.0
dtype: float64
0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [25]:
s.dropna().reset_index()

   index    0
0      0  1.0
1      1  2.0
2      3  4.0

In [ ]:
#using inplace 
s.fillna(0, inplace= True)
print(s)

0    1.0
1    2.0
2    0.0
3    4.0
4    0.0
dtype: float64

In [28]:
#Indexing and Slicing
# Label-based Indexing
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(s['b'])      # Access single value
print(s[['a', 'c']])  # Access multiple values

20
a    10
c    30
dtype: int64

In [29]:
#Position-based Indexing
print(s[1])        # Access second element
print(s[1:3])      # Slice elements (inclusive of start, exclusive of end)

20
b    20
c    30
dtype: int64

C:\Users\anand\AppData\Local\Temp\ipykernel_7956\4111599173.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[1])        # Access second element

In [30]:
#Using .loc[] and .iloc[]
print(s.loc['b'])  # Label-based access
print(s.iloc[1])   # Position-based access

20
20

In [32]:
#Sorting a Series
#Sorting by Values
s = pd.Series([30, 10, 20], index=['a', 'b', 'c'])
print(s.sort_values())  # Sort in ascending order
print(s.sort_values(ascending=False))  # Sort in descending order

#sorting by index
print(s.sort_index())  # Sort by index

b    10
c    20
a    30
dtype: int64
a    30
c    20
b    10
dtype: int64
a    30
b    10
c    20
dtype: int64

In [35]:
#Applying Functions with .apply()
s = pd.Series([1, 2, 3, 4, 5])

def square(x):
    return x ** 2

print(s.apply(square))  # Apply function to each element
print(s.apply(lambda x: x ** 2))  # Using lambda function
# Apply lambda function with a condition
result = s.apply(lambda x: x ** 2 if x % 2 == 0 else x**x)
print(result)

0     1
1     4
2     9
3    16
4    25
dtype: int64
0     1
1     4
2     9
3    16
4    25
dtype: int64
0       1
1       4
2      27
3      16
4    3125
dtype: int64

In [38]:
#Working with Unique Values
s = pd.Series([1, 2, 2, 3, 4, 4, 4, 5])

print(s.unique())  # Get unique values
print(s.nunique()) # Count of unique values
print("new :\n", s.value_counts()) # Frequency of each value

[1 2 3 4 5]
5
new :
 4    3
2    2
1    1
3    1
5    1
Name: count, dtype: int64

In [40]:
#String Operations on Series
s = pd.Series(["apple", "  banana ", "cherry  "])

print(s.str.upper())   # Convert to uppercase
print(s.str.contains('a'))  # Check if contains 'a'
print(s.str.replace('a', '@'))  # Replace 'a' with '@'
print(s.str.strip()) #removes starting and trailing blank spaces
print(s.str.title())

0        APPLE
1      BANANA
2     CHERRY
dtype: object
0     True
1     True
2    False
dtype: bool
0        @pple
1      b@n@n@
2     cherry
dtype: object
0     apple
1    banana
2    cherry
dtype: object
0        Apple
1      Banana
2     Cherry
dtype: object

In [41]:
#working with date time
import pandas as pd

# Create a date range for 5 months
dates = pd.date_range('2024-01-01', periods=150, freq='D')  # Approx. 5 months

# Create a Series with random values
import numpy as np
s = pd.Series(np.random.randint(10, 100, size=len(dates)), index=dates)

# Print the first few rows
print(s.head())  # Show first few entries
print(s.tail())  # Show last few entries

2024-01-01    72
2024-01-02    78
2024-01-03    80
2024-01-04    26
2024-01-05    24
Freq: D, dtype: int32
2024-05-25    88
2024-05-26    66
2024-05-27    21
2024-05-28    50
2024-05-29    56
Freq: D, dtype: int32

In [54]:
#filter for a given date index
print(s['2024-03-10'])

98

In [45]:
#Filtering for Specific Date Ranges
#1. Filter for a Specific Month (e.g., April 2024)
april_data = s['2024-04']
print(april_data)

2024-04-01    35
2024-04-02    28
2024-04-03    26
2024-04-04    94
2024-04-05    49
2024-04-06    29
2024-04-07    87
2024-04-08    23
2024-04-09    57
2024-04-10    52
2024-04-11    82
2024-04-12    33
2024-04-13    28
2024-04-14    22
2024-04-15    14
2024-04-16    78
2024-04-17    68
2024-04-18    85
2024-04-19    35
2024-04-20    18
2024-04-21    22
2024-04-22    66
2024-04-23    67
2024-04-24    26
2024-04-25    33
2024-04-26    20
2024-04-27    89
2024-04-28    92
2024-04-29    90
2024-04-30    42
Freq: D, dtype: int32

In [46]:
#2. Filter for a Specific Date Range (e.g., March 10 to April 5, 2024)
march_to_april = s['2024-03-10':'2024-04-05']
print(march_to_april)

2024-03-10    98
2024-03-11    14
2024-03-12    33
2024-03-13    50
2024-03-14    77
2024-03-15    77
2024-03-16    39
2024-03-17    52
2024-03-18    55
2024-03-19    92
2024-03-20    63
2024-03-21    17
2024-03-22    14
2024-03-23    84
2024-03-24    86
2024-03-25    88
2024-03-26    91
2024-03-27    14
2024-03-28    28
2024-03-29    47
2024-03-30    31
2024-03-31    13
2024-04-01    35
2024-04-02    28
2024-04-03    26
2024-04-04    94
2024-04-05    49
Freq: D, dtype: int32

In [47]:
#3. Filter for Specific Days of a Month (e.g., All 15th of Each Month)
fifteenths = s[s.index.day == 15]
print(fifteenths)

2024-01-15    86
2024-02-15    68
2024-03-15    77
2024-04-15    14
2024-05-15    16
dtype: int32

In [48]:
#4. Filter for a Specific Weekday (e.g., All Mondays)
mondays = s[s.index.dayofweek == 0]  # Monday is 0, Tuesday is 1, etc.
print(mondays)

2024-01-01    72
2024-01-08    83
2024-01-15    86
2024-01-22    87
2024-01-29    37
2024-02-05    81
2024-02-12    79
2024-02-19    52
2024-02-26    95
2024-03-04    34
2024-03-11    14
2024-03-18    55
2024-03-25    88
2024-04-01    35
2024-04-08    23
2024-04-15    14
2024-04-22    66
2024-04-29    90
2024-05-06    81
2024-05-13    79
2024-05-20    43
2024-05-27    21
dtype: int32